.searchpage-container {
    max-width: 1200px;
    margin: auto;
    margin-top:10%;
    color: #414146;
    padding: 0 20px;
    position: static;
    width: 100%;
}
.searchpage-container img {
    max-width: 100%;
}
.search-results-container .doctorcard{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 18px;
    border-radius: 4px;
    background-color: #fff;

}

.search-results-container>h2 {
    text-align: left;
    font-size: 24px;
    font-weight: 700;
}

.search-results-container>h3 {
    margin-top: 12px;
    color: #2d2d32;
    text-align: left;
    font-size: 15px;
}
.booking-consultation {
  padding: 20px;
  text-align: center;
}

.find-doctor-container {
  margin-bottom: 20px;
}

.doctor-card-container {
  margin-top: 20px;
}

.find-doctor-search input {
  padding: 0.75rem;
  font-size: 1rem;
  width: 100%;
  border-radius: 50px;
  border: 2px solid #3685fb;
}

.find-doctor-search ul {
  list-style: none;
  padding: 0;
}

.find-doctor-search li {
  padding: 10px;
  cursor: pointer;
}

.find-doctor-search li:hover {
  background-color: #f0f0f0;
}
